
.thumbnail img {
	height: 200px;
}

.notation {
	text-align: left;
	width: 100px;
	height: 35px;
}

.notation .stars a {
	float: right;
	color: #aaa;
	text-decoration: none;
	font-size: 24px;
	transition: color .4s;
}

.notation .stars a:hover,
.notation .stars a:focus,
.notation .stars a:hover ~ a,
.notation .stars a:focus ~ a {
	color: orange;
	cursor: pointer;
}

.vert-align{
	vertical-align: middle!important;
}

.sign{
	margin-left: 5px;
	margin-right: 5px;
}
